
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }
  .mw-523{
        max-width:523px;
        width:100%;
    }
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .delete_modal{
   .modal-content{ 
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #EDEFF1;
    border-radius: 8px;
    overflow: hidden;
    .modal-header{
        padding:17px 18px 17px 35px;
        h2{
            @include remy(28);
            line-height: 37px;
            color: $red-700;
            font-weight: 600;
        }
        .close{
            @include trans2s;
            &:hover{
                opacity: 0.7;
            }
        }
    }
    .modal-body{
        padding:17px 35px 40px;
        p{
            @include remy(28);
            line-height: 37px;
            color: $primary-color;
            strong{
                font-weight: 600;
            }
        }
    }
    .modal-footer{
        background: $gray-900;
        border: none;
        border-top: 1px solid $gray-200;
        padding: 16px;
        display: flex;
        justify-content: flex-end;
        .btn{
            min-width: 165px;
        }
        .outline_btn{
            border: 1px solid $gray-700;
            border-radius: 5px;
            background: #fff;
            color: $gray-700;
            @include remy(15);
            line-height: 20px;
            height: 52px;
            padding: 0 24px;
            @include trans2s;
            &:hover{
                opacity: 0.7;
            }
        }
    }
   }
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

 