@font-face {
  font-family: 'segoe_uiregular';
  src: url('../../fonts/segoeui-webfont.woff2') format('woff2'),
       url('../../fonts/segoeui-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}