/*-------------------------------------------------------------------------------------------*/
/* Colors classes    ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

$primary-color:#1E2327;
$secondry-color:#3481C4;
$white:#ffffff;
$black:#000000;

$gray-900:#F6F8FA;
$gray-800:#F2F6F9;
$gray-700:#787879;
$gray-300:#EAF0F5;
$gray-200:#EDEFF1;
$gray-100:#ABAFB5;

$green-800:#56E694;
$green-700:#34B5C4;

$red-700:#FF6A6A;

$grblue:transparent linear-gradient(101deg, #0C68B7 0%, #3481C4 100%) 0% 0% no-repeat padding-box;

/* btn colors */
$primary-btn:#3481C4;
$primary-btn-hover:#613FE9;
$secondry-btn:#fff;


