*{
    margin: 0;
    padding: 0;
    font-family: 'segoe_uiregular';
    box-sizing: border-box;
}
a,
a:hover{
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6, ul, li, a, p{
    margin: 0;
    padding: 0;  
    list-style: none;
    text-decoration: none;
}
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
body{
    background: $gray-900;
    font-family: 'segoe_uiregular';
}
.container{
    width:100%;
    max-width:1200px;
    padding: 0 30px;
}
.container-fluid{
    width:100%;
    padding: 0 30px;
}

.cs_app_main{
    height: 100%;
    display: flex;
    padding-top:75px;
}
.cs_app_main_outer{
    width: 100%;
    padding:30px 20px 30px 330px; 
    @include desk{
        padding:30px 30px 30px 350px; 
    }
}
.heading-ui{
    margin-bottom:24px;
}

.border-seprater{
    background: #EFEDF8;
    height:1px;
    width:100%;
    margin:30px 0;
    @media only screen and (max-width:599px){
        margin:20px 0;
    }
}
/* loader css start */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;

        .loader-inner-wrapper {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -70px;
                margin-top: -45px;
                width:  140px;
                height: 90px;
                text-align: center;
                .loader-icon {
                        width:90px;
                        position: relative;
                        // top: 23px;
                        -webkit-animation: scaling 0.9s infinite linear;
                        -moz-animation: scaling 0.9s infinite linear;
                        -o-animation: scaling 0.9s infinite linear;
                        animation: scaling 0.9s infinite linear;
                    }
            }
    }



    


/* loader css end */



/* spacing */

.mb-4{
    margin-bottom: 4px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-36{
    margin-bottom: 36px;
}
.mb-45{
    margin-bottom: 45px;
}



/*margin left*/

.ml-4{
    margin-left: 4px;
}
.ml-8{
    margin-left: 8px;
}
.ml-10{
    margin-left: 10px;
}
.ml-12{
    margin-left: 12px;
}
.ml-16{
    margin-left: 16px;
}
.ml-20{
    margin-left: 20px;
}
.ml-24{
    margin-left: 24px;
}
.ml-30{
    margin-left: 30px;
}
.ml-32{
    margin-left: 32px;
}
.ml-36{
    margin-left: 36px;
}
.m-45{
    margin-left: 45px;
}


/*margin right*/

.ml-4{
    margin-right: 4px;
}
.ml-8{
    margin-right: 8px;
}
.ml-10{
    margin-right: 10px;
}
.ml-12{
    margin-right: 12px;
}
.ml-16{
    margin-right: 16px;
}
.ml-20{
    margin-right: 20px;
}
.ml-24{
    margin-right: 24px;
}
.ml-30{
    margin-right: 30px;
}
.ml-32{
    margin-right: 32px;
}
.ml-36{
    margin-right: 36px;
}
.m-45{
    margin-right: 45px;
}



.send_message_wrapper{
    display: flex;
    align-items: flex-start;
    .left_wraper{
        width: 60%;
    }
    .phone_wraper{
            width: 40%;
            padding: 0 30px;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: center;
        .top-content_ui{
            display: flex;
            align-items:flex-start;
            max-width: 400px;
            .tips_icon{
                display: flex;
                margin-right: 10px;
                @include remy(17);
                line-height: 22px;
                font-style: italic;
                color: $gray-700;
                .icon{
                    width:14px;
                    margin-right: 4px;
                    img{
                        width: 100%;
                    }
                }
            }
            p{
                color: $gray-700;
                @include remy(16);
                line-height: 22px;
                font-style: italic;
            }
        }
    }

}

.phone_image_wrap{
    background:url("../../images/icons/phone_graphic.svg") no-repeat;
    width:320px;
    height: 645px;
    background-size: 100%;
    margin-top: 40px;
    @include desk{
        width:350px;
        height: 710px;
    }

    .phone_inner_wrap{
        width: 300px;
        height: 100%;
        margin: auto;
        padding: 80px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include desk{
            width:320px;
            padding: 80px 0 30px;
        }
       
        .scroll_wrap{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc(100% - 100px);
            overflow-y: auto;
            width: 100%;
            padding: 0 16px;
            
        }
        .message_card{
            background:$secondry-color;
            border-radius: 0px 20px 20px 20px;
            opacity: 1;
            width: 100%;
            padding: 14px 20px;
            margin-bottom: 16px;
            p{
                @include remy(16);
                line-height: 21px;
                color: $white;
                margin-bottom: 30px;
            }
            .timer_ui{
                display: flex;
                justify-content: flex-end;
                color: $gray-300;
                @include remy(15);
                line-height: 21px;
                opacity: 0.36;
            }
        }
    }
    .top_content_wraper{
        height:100%;
        overflow-y: auto;
    }
    .bottom_bar_wraper{
        display: flex;
        align-items: center;
        padding:0 20px 10px;
        .textarea_ui{
            width:calc(100% - 60px);
            padding-right: 10px;
            textarea{
                width: 100%;
                border: 1px solid $secondry-color;
                height: 75px;
                border-radius: 14px;
                resize: none;
                padding: 10px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                    
                }
            }
        }
        .send_btn{
            background: transparent;
            border: none;
            width: 60px;
            cursor: pointer;
            &:focus,
            &:hover{
                opacity: 0.8;
            }
        }
    }
}
